* {
    background-color: #282c34;
    overflow-x: hidden;
}

.about-title{
    margin-left: 15px;
    margin-top: 5vh;
}
.horizontal-hr {
    width: 150px;
    border-top: solid 4px rgb(248, 196, 111);
    opacity: 1;
    margin: 10px 15px;
    
  }

  .skills{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .description {
    line-height: 1.5;
    font-size: 20px;
  }

  .divider {
    width: 100vw;
    border-top: solid 2px rgb(248, 196, 111);
  }