/* Body.css */
.body-container {
    position: relative;
    height: calc(100vh - 56px); 
    display: flex;
    background-color: #282c34; 
    color: white; 
    width: 100vw;
    padding-top: 10vh;
    overflow-x: hidden;
  }
  
  .smaller-text {
    font-size: 80%; 
}
  .content {
    padding: 20px;
    width: 100%;
    max-width: 800px; 
    margin: 0 auto; 
    text-align: left;
    margin-left: 5vw;
    justify-content: center;
  }
  
  .text-left {
    flex: 1;
  }
  .name{
    color: rgb(248, 196, 111) !important;
    font-weight: bold;
  }
  .social-icons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    margin: 30px; 
    width: 100px;
    overflow: hidden;
  }
  
  .icon {
    margin-bottom: 50px; 
  }
  .icon-spacing{
    margin-bottom: 25px;
  }
 
  .icon-link {
    opacity: .65;
  }
  .icon-link:hover {
    transform: scale(1.1);
    opacity: 1;
  }

  
  .btn-custom {
    background-color: #282c34; 
    border-color: rgb(248, 196, 111) !important; 
    color: rgb(248, 196, 111) !important; 
    width: 100px;
  }
  
  .btn-custom:hover {
    background-color: rgba(248, 196, 111, 0.7) !important; 
    border-color: rgb(248, 196, 111) !important; 
    color: white !important; 
  }
  

  .vertical-hr {
    border: none;
    border-left: 5px solid rgb(248, 196, 111); 
    height: 125px; 
    transform: rotate(180deg); 
    opacity: 100;
    margin: 10px 5px; 
  }

  .image{
    width: 400px;
    height: 400px;
    border-radius: 50%; 
    object-fit: cover;
    border: 1px solid rgb(248, 196, 111);
  }

  .image-col {
    background-color: rgba(0, 0, 0, 0);
  }
.down-arrow { 
  opacity: .25;
  height: 100px;
  width: 100px;
  object-fit: cover;
}
.down-arrow:hover{
  opacity: 1;
}

.arrow-col {
  margin-left: 5vw;
}

@media screen and (max-width: 1250px) {
  .image {
    width: 300px;
    height: 300px;
  }
  .arrow-col {
    opacity: 0;
  }
  .name{
    font-size: 40px;
  }
}

@media screen and (max-width: 750px) {
  .image{
    width: 200px;
    height: 200px;
  }
}

