.project-card {
    height: 500px;
    width: 400px;
    background-color: #333b4b;
    text-align: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-top: 25px;
    border-radius: 1em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .5);
}

.smartbrain {
    background-image: url("/public/assets/images/smartbrain.jpg");
}
.artist-site {
    background-image: url("/public/assets/images/fauna-mockup.jpg");
}

.spotipi {
    background-image: url("/public/assets/images/spotipi-mockup.jpg");
}
.chess {
    background-image: url("/public/assets/images/chess.jpeg");
}

.project-text-box {
    height: 500px;
    width: 400px;
    opacity: 0;
    background-color: #333b4b8f;
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-text{
    background-color: rgba(248, 196, 111, 0);
    padding: 5px;
    margin: 0 20px;
}

.project-text-p{
    font-size: 20px;
    margin: 0 20px;
    background-color: rgba(248, 196, 111, 0);
    padding: 5px;
}

.project-card:hover .project-text-box{
    opacity: 1;
    backdrop-filter: blur(5px);
}

.gh-link {
    background: inherit;
    text-decoration: none;
}
.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0);
    
}
.btn-custom-card {
    background-color: rgb(248, 196, 111) !important; 
    color: #282c34 !important; 
    width: 125px;
    align-self: center;
    margin: 5px;
  }
  
  .btn-custom-card:hover {
    background-color: rgba(248, 196, 111, .8) !important; 

  }
  
  @media screen and (max-width: 1250px) {
    .project-card{
        margin: 10px auto;
        width: 350px;
    }

    .project-text-box{
        width: 350px;
    }
  }